@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Montserrat", sans-serif;
}

body {
  overflow: hidden;
} 

h1,
section,
p,
span,
svg {
  transition: all 0.5s;
}

:root {
  /* Light Theme Variables */
  --color-text-light: #333333;
  --color-background-light: #F0F0F1;
  --color-brown-light: #e4a950;
  /* --color-brown-light: #db1b02; */
  --color-button-theme-light: #F0F0F1;

  /* Dark Theme Variables */
  --color-text-dark: #fafafa;
  /* --color-background-dark: #8395cd; */
  --color-background-dark: #997dd6;
  --color-button-theme-dark: #F0F0F1;
}

.light-theme {
--color-text: var(--color-text-light);
--color-background: var(--color-background-light);
--color-brown: var(--color-brown-light);
--color-button: var(--color-button-theme-light);
}

.dark-theme {
  --color-text: var(--color-text-dark);
  --color-background: var(--color-background-dark);
  --color-brown: var(--color-text-dark);
  --color-button: var(--color-button-theme-dark);
}

/* Experience ------------------------------------------------ */
.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experience-canvas {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

/* Loading --------------------------------------------------- */
.loader {
  background-color: var(--color-background-light);
  width: 100%;
  height: 100vh;
  position: fixed;
  opacity: 1;
  z-index: 99999999999999;
}


.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 6px;
  background-color: var(--color-brown-light);
  animation: load 1s ease-in-out infinite;
}

.circle:nth-child(2) {
  animation-delay: 0.1s;
}

.circle:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes load {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-12px);
  }
  40% {
    transform: translateY(0);
  }
}

/* Page Itself ------------------------------------------------ */
.page {
  z-index: 99999;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.page-wrapper {
  position: relative;
}

/* Preloader Stuff -------------------------------------------- */
.animated {
  display: inline-block; 
  transform: translateY(100%);
} 

.arrow-svg-wrapper {
  position: absolute;
  color: var(--color-text);
  bottom: 5%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  animation: bounce 0.5s ease-in alternate infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(8px);
  }
}

.intro-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: var(--color-text);
  top: 50%;
  left: 50%;
  font-weight: 500;
  font-size: 18px;
  transform: translate(-50%, -50%);
}

/* Toggle Bar ------------------------------------------------- */
.toggle-bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 50px;
  right: 50px;
  opacity: 0;
  z-index: 9999999;
}

.sun-wrapper,
.moon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
}

.toggle-button {
  cursor: pointer;
  position: relative;
  width: 65px;
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-brown);
  border-radius:  999px;
  margin: 0 16px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.toggle-circle {
  position: absolute;
  left: 6px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--color-background);
  transition: all 0.1s ease-in-out;
}

.toggle-button:hover .toggle-circle {
  transform: scale(0.9);
}

.slide {
  left: calc(50% + 6px);
}

/* Section Formatting ----------------------------------------- */
.section-margin {
  height: 3000px;
  width: 100%;
}

.section {
  position: relative;
  width: 50%;
  padding: 1000px 4%;
  margin: 0;
  background-color: var(--color-background);
  overflow: hidden;
}

.left {
  margin-right: auto;
  border-top-right-radius: 700px 700px;
}

.right {
  margin-left: auto;
  border-top-left-radius: 700px 700px;
}

/* Progress bar */
.progress-wrapper {
  height: 0px;
  width: 10px;
  z-index: 9999;
}

.progress-bar-wrapper-left {
  position: absolute;
  top: 0;
  left: 0;
}

.progress-bar-wrapper-right {
  position: absolute;
  top: 0;
  right: 0;
}

.progress-bar {
  height: 100vh;
  width: 100%;
  background-color: var(--color-brown);
  transform-origin: top center;
  transform: scaleY(1);
}

.section-intro-wrapper {
  position: relative;
  padding: 20% 5%;
  border-bottom: 2px solid var(--color-brown);
  padding-bottom: 400px;
}

.section-detail-wrapper {
  position: relative;
  padding: 20% 5%; 
}

.section-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
  margin-top: 64px;
  color: var(--color-text);
}

.section-text {
  line-height: 2;
  margin-top: 18px;
  font-size: 16px;
  color: var(--color-text);
}

/* Fancy decoration part of section */
.section-title {
  position: relative;
  color: var(--color-brown);
}

.section-title-text {
  display: block;
  font-size: 40px;
  font-weight: 500;
  transform-origin: left;
  transform: skewY(25deg);
  z-index: 5;
  text-transform: uppercase;
  color: var(--color-brown);
}

.styleOne,
.styleTwo,
.styleThree {
  position: absolute;
  display: block;
  width: 100%;
  max-width: 278px;
  height: 60px;
  border: 1px solid var(--color-brown);
  transform-origin: left;

  transform: skewY(-25deg);
}

.styleOne {
  top: 0;
}

.styleTwo {
  top: 80px;
}

.styleThree {
  top: 80px;
  transform: skewY(25deg);
  background-color: var(--color-brown);
}

.section-number {
  position: absolute;
  bottom: 15px;
  right: 0;
  color: var(--color-brown);
  font-size: 24px;
}
/* Hero section -----------------------------------------------*/
.hero {
  width: 100vw;
  height: 100vh;
}

.hero-wrapper {
  position: relative;
  height: 100%;
  width: calc(100% - 160px);
  margin: 0 auto;
  max-width: 1200px;
}

.hero-main {
  position: absolute;
  bottom: 170px;
  left: 0;
  color: var(--color-text);
}

.hero-second {
  position: absolute;
  top: calc(50% - 120px);
  right: 0;
  color: var(--color-text);
}

.hero-main-title {
  font-size: 64px;
  font-weight: 500;
  color: var(--color-brown);
}

.hero-main-description {
  font-size: 18px;
  color: var(--color-text);
}

.hero-second {
  font-size: 32px;
  text-transform: uppercase;
  color: var(--color-text);
}

/* Media Queries */

@media screen and (max-width: 968px) {
  .section {
    width: 100%;
  }

  .third-section {
    height: 100%;
  }

  /* Progress bar */
  .progress-bar-wrapper-left {
    right: 0px;
    left: auto;
  }

  .hero-main {
    bottom: 120px;
  }

  .hero-second {
    top: 180px;
  }

  .hero-wrapper {
    width: calc(100% - 50px);
  }

  .hero-main-title {
    font-size: 32px;
  }

  .hero-main-description {
    font-size: 18px;
  }

  .hero-second-subheading {
    font-size: 18px;
  }

  .toggle-button {
    margin: 0 5px;
    height: 25px;
  }
  .toggle-bar {
    top: 20px;
    right: 20px;

  } 
}

/* @media screen and (max-width: 425px) {
 
} */